.aboutUs{
    padding-top: 40px;
}
.image__AboutUs{
    background-image: url('./AboutUs.jpg');
    width: 100%;
    height: 350px;
    position: relative;
    
}
.image__AboutUs--text{
    position: absolute;
    left: 40px;
    letter-spacing: 5px;
    bottom: 60px;
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
    color: rgb(250, 250, 250);
}

.AboutUs__write{
    font-size: 16px;
    line-height: 40px;
}
.AboutUs__write-title{
    width: 65%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    line-height: 50px;
    
}
.AboutUs__write--text{
    
}
.text-2{
    font-family: 'Permanent Marker', cursive;

}
.AboutUs__write2{
    margin-top: 60px;
    border-top: 1px solid rgba(184, 199, 100, 0.521);
}